.check{
    bottom: 0;
    display: flex;
    left: calc(50%+40px);
    margin-bottom: 10px;
    position: absolute;
    display: none;
}

.containerOuter {
 border: 1px solid black;
background: burlywood;
border-radius: 8px;
box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.highlight{
    background-color: #fc5185;
    border-radius: 50%;
    height: 12px;
    left: 14px ;
    pointer-events: none;
    position: absolute;
    top: 14px;
    transition: transform 400ms
    cubic-bezier(0.175, 0.885, 0.32, 1.2);
    width: 12px;
}
.circle {
    border: 2px solid #545556;
    border-radius: 50%;
    cursor: pointer;
    height:20px;
    position: absolute;
    transition: border-color 300ms;
    width: 20px;
    
}

.entry-label{
    cursor: pointer;
    margin-top: 3px;
    padding-left: 40px;
    user-select: none;
    -moz-user-select: none;
}

.overlay {
    background: #fff;
    mask: url(#holes);
    height: 90px;
    pointer-events: none;
    transition: background 300ms ;
    width: 40px;
}


.container{
    position: relative;
    margin: 20px;
    overflow: hidden;
    width: 200px ;
    height: 200px;
    color: #0f117a;

}

.hidden{
    display: none;
}

.entry{
    height: 25px;
    position:absolute;
    width: 160px;

}

.entry:nth-child(2){
    left: 8px;
    top: 8px;
}

.entry:nth-child(4){
    left: 8px;
    top: 58px;
}


.hidden:nth-child(1):checked~.highlight{
    transform: translateY(0);
}

.hidden:nth-child(3):checked~.highlight{
    transform: translateY(50px);
}



.hidden:nth-child(1):checked+.entry .circle{
    border-color: #0f117a;
    box-shadow: 0 0 11px rgb(33, 33, 33); 
}

.hidden:nth-child(3):checked+.entry .circle{
    border-color: #0f117a;
    box-shadow: 0 0 11px rgb(33, 33, 33); 
}



.check:checked~ .containerOuter .overlay{
    background: #0f117a;
}